/bootstrap.js
/bootstrap.min.js
/easing.js
/jquery-1.10.2.js
/jquery-1.11.1.min.js
/jquery.flexslider.js
/jquery.nicescroll.js
/lightbox-plus-jquery.min.js
/move-top.js
/reply.js
/sb-admin-2.js
/sb-admin.js
/scripts.js
/wow.min.js
